@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000; /* 기본 배경은 검정색 */
  --foreground: #ffffff; /* 기본 글씨 색은 흰색 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* 어두운 모드 배경 */
    --foreground: #ededed; /* 어두운 모드 글씨 색 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
